.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.date-holder-1{
  position: relative;
  background: white;
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}
.date-field-1 {
  padding-right: 0;
}
.date-field-1 select {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: transparent;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.date-holder-2{
  position: relative;
  background: white;
}
.date-field-2 {
  padding: 0
}
.date-field-2 select {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: transparent;
  border-radius: 0;

}

.date-holder-3{
  position: relative;
  background: white;
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}
.date-field-3 {
  padding-left: 0
}
.date-field-3 select {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: transparent;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;

}
